@* @using Invoice_Management.Migrations *@
@model List<Invoice>

<h1 class="text-center">List Of Invoice</h1>

<a class="btn btn-primary mb-1" asp-controller="Invoices"  asp-action="Create">New Invoice</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Invice No</th>
            <th>Status</th>
            <th>Client</th>
            <th>Total Price</th>
            <th>Issue Date</th>
            <th>Due Date</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody class="table-group-divider">
        @foreach(var invoice in Model)
        {
        decimal totalPrice = invoice.Quantity * invoice.UnitPrice;

        <tr>
            <td>@invoice.Id</td>
            <td>@invoice.Number</td>
            <td>@invoice.status</td>
            <td>@invoice.CustomerName</td>
            <td>@(totalPrice)$</td>
            <td>@invoice.IssueDate?.ToShortDateString()</td>
            <td>@invoice.DueDate?.ToShortDateString()</td>
            <td style="white-space:nowrap">
                <a class="btn btn-primary btn-sm" asp-controller="Invoices" asp-action="Edit" asp-route-id="@invoice.Id">
                    Edit
                 </a>
                <a class="btn btn-danger btn-sm" asp-controller="Invoices" asp-action="Delete" asp-route-id="@invoice.Id">
                    Delete
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>
